@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.bg-neutral-ink-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(216 216 219 / var(--tw-bg-opacity));
}

.bg-neutral-ink-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(234 234 237 / var(--tw-bg-opacity));
}

.text-neutralink-500 {
  color: #5c5d6b;
}

.text-neutral-ink-500 {
  color: #5c5d6b;
}

.bg-neutral-ink-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 243 244 / var(--tw-bg-opacity));
}

.border-neutral-ink-200 {
  --tw-border-opacity: 1;
  border-color: rgb(216 216 219 / var(--tw-border-opacity));
}

.bg-neutral-ink-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(37 38 56 / var(--tw-bg-opacity));
}

.border-neutral-ink-100 {
  --tw-border-opacity: 1;
  border-color: rgb(234 234 237 / var(--tw-border-opacity));
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-smart-banner-bg-gradient {
  background-image: url(https://assets.snapedit.app/images/landing/smart_banner_bg.webp);
}

.text-whitewhite-064 {
  color: #ffffffa3;
}

.ai-gradient {
  background: linear-gradient(
    138.69deg,
    #0dffff -2.74%,
    #0051ef 39.11%,
    #a400bf 98.64%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.ai-gradient-2 {
  background: linear-gradient(
    139deg,
    #0dffff -2.74%,
    #7fabff 39.11%,
    #ed7cff 98.64%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.infinite-scroll .animation {
  transform: translateX(-14.9465%);
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
}

/* .from-sapphire-50 {
  --tw-gradient-from: #f6f7fb var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(246, 247, 251, 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: #f6f7fb, #f6f7fb00;
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, #f6f7fb, #f6f7fb00);
}

.shadow-shadow-slide {
  --tw-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.04);
  --tw-shadow-colored: 0px 4px 32px 0px var(--tw-shadow-color);
}

.shadow-shadow-slide {
  --tw-shadow: 0px 4px 32px 0px rgba(0, 0, 0, 0.04);
  --tw-shadow-colored: 0px 4px 32px 0px var(--tw-shadow-color);
}

.shadow-shadow-card,
.shadow-shadow-slide {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
} */

.bRLGlB svg {
  height: 20px;
  width: 20px;
  color: inherit;
}

.border-t-\[1px\] {
  border-top-width: 1px;
}

.dyQRtj svg {
  height: 24px;
  width: 24px;
  color: white;
}

.dyQRtj svg path,
.dyQRtj svg circle {
  stroke: currentcolor;
}

/* .shadow-shadow-slide-hover,
.shadow-xl {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
} */

.H30B,
.H56B {
  font-size: 30px;
  font-weight: 700;
}

.H56B {
  font-size: 56px;
  font-weight: 700;
}

@media (min-width: 851px) {
  .snap-block-heading {
    font-size: 40px;
  }
}

@media (max-width: 850px) {
  .snap-block-heading {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.snap-block-heading {
  margin-bottom: 1rem;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .snap-block {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.bg-black-1 {
  --tw-bg-opacity: 1;
  background-color: rgb(26 27 47 / var(--tw-bg-opacity));
}

.snap-block {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text-neutral-ink-200 {
  --tw-text-opacity: 1;
  color: rgb(216 216 219 / var(--tw-text-opacity));
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.angular-gradient,
.color-picker-conic-gradient {
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ff7a00 0deg,
    #fff500 61.87deg,
    #0eed82 123.75deg,
    #06f 179.22deg,
    #bd00ff 243.75deg,
    red 309.38deg,
    #ff7a00 1turn
  );
}

.color-picker-transparent {
  background-image: url(https://assets.snapedit.app/images/transparent.png);
  background-repeat: repeat;
}
